/* Common styles for header buttons */
.header-button {
    font-size: 1.25rem;
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
    text-decoration: none; /* Removes underline from Link */
    transition: color 0.3s ease; /* Smooth transition for text color */
  }
  
  /* Hover effect for text color */
  .header-button:hover {
    color: red; /* Change text color to red on hover */
  }

  .header-button.active {
    color: red; /* This will change the text color to red when the button is active */
  }